/*--------------------Button--------------------*/
.btn{
    display: inline-block;
    color: rgb(33,37,41);
    background-color: transparent;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px transparent solid;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-small {
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-large {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-sky {
    color: white;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}
.btn-transparent-sky{
    color: rgb(0, 123, 225);
    background-color: transparent;
    border-color: rgb(0, 123, 225);
}

.btn-stone {
    color: white;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}
.btn-transparent-stone {
    color: rgb(108,117,125);
    background-color: transparent;
    border-color: rgb(108,117,125);
}
  
.btn-grass {
    color: white;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}
.btn-transparent-grass {
    color: rgb(40,167,69);
    background-color: transparent;
    border-color: rgb(40,167,69);
}

.btn-stop {
    color: white;
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
}
.btn-transparent-stop {
    color: rgb(220,53,69);
    background-color: transparent;
    border-color: rgb(220,53,69);
}

.btn-warning {
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
    border-color: rgb(255,193,7);
}
.btn-transparent-warning {
    color: rgb(255,193,7);
    background-color: transparent;
    border-color: rgb(255,193,7);
}

.btn-orange{
    color: rgb(33,37,41);
    background-color: rgb(255, 139, 7);
    border-color: rgb(255, 139, 7);
}
.btn-transparent-orange{
    color: rgb(255, 139, 7);
    background-color: transparent;
    border-color: rgb(255, 139, 7);
}

.btn-info {
    color: #fff;
    background-color: rgb(23,162,184);
    border-color: rgb(23,162,184);
}
.btn-transparent-info {
    color: rgb(23,162,184);
    background-color: transparent;
    border-color: rgb(23,162,184);
}

.btn-light {
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
}
.btn-transparent-light {
    color: rgb(33,37,41);
    background-color: transparent;
    border-color: rgb(248,249,250);
}

.btn-dark {
    color: white;
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
}
.btn-transparent-dark {
    color: rgb(52,58,64);
    background-color: transparent;
    border-color: rgb(52,58,64);
}
.btn-collection{
    display: inline-flex;
}

.btn-collection .btn{
    position: relative;
    outline: none;
}
.btn-collection .btn:not(:first-child){
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn-collection .btn:not(:last-child){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-gradient-sky-pink {
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    color: #fff!important;
}

.btn-gradient-ice-cream-green {
    background: linear-gradient(to bottom right, #00ffff 0%, #99ff66 100%);
    color: black!important;
}

.btn-gradient-peacock-green {
    background: linear-gradient(to bottom right, #0000ff 0%, #66ff33 100%);
    color: #fff!important;
}

.btn-gradient-peacock-blue {
    background: linear-gradient(to bottom right, #0066cc 0%, #00ffff 100%);
    color: #fff!important;
}

.btn-gradient-silent-red {
    background: linear-gradient(to bottom right, #ffffff 0%, #ff0000 100%);
    color: #fff!important;
}
.btn-gradient-orange-mango {
    background: linear-gradient(to bottom right, #ff9900 0%, #ffff00 100%);
    color: Black!important;
}
.btn-gradient-magnet-green {
    background: linear-gradient(to bottom right, #99ff33 0%, #ff0066 100%);
    color: #fff!important;
}

/*--------------------Button Hover--------------------*/

.btn-sky:hover {
    color: white;
    border-color: rgb(0,98,204);
    background-color: rgb(0,98,204);
}
.btn-transparent-sky:hover{
    color: white;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}

.btn-stone:hover {
    color: white;
    border-color: rgb(84,91,98);
    background-color: rgb(84,91,98);
}
.btn-transparent-stone:hover {
    color: white;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}

.btn-grass:hover {
    color: white;
    background-color: rgb(33,136,56);
    border-color: rgb(33,136,56);
}
.btn-transparent-grass:hover {
    color: white;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}

.btn-stop:hover {
    color: white;
    background-color: rgb(200,35,51);
    border-color: rgb(200,35,51);
}
.btn-transparent-stop:hover {
    color: white;
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
}

.btn-warning:hover {
    color: rgb(33,37,41);
    background-color: rgb(224,168,0);
    border-color: rgb(224,168,0);
}
.btn-transparent-warning:hover {
    color: white;
    background-color: rgb(255,193,7);
    border-color: rgb(255,193,7);
}

.btn-orange:hover{
    color: rgb(33,37,41);
    background-color: rgb(224, 139, 7);
    border-color: rgb(224, 139, 7);
}
.btn-transparent-orange:hover{
    color: white;
    background-color: rgb(255, 139, 7);
    border-color: rgb(255, 139, 7);
}

.btn-info:hover {
    color: white;
    background-color: rgb(19,132,150);
    border-color: rgb(19,132,150);
}
.btn-transparent-info:hover {
    color: white;
    background-color: rgb(23,162,184);
    border-color: rgb(23,162,184);
}

.btn-light:hover {
    color: rgb(33,37,41);
    background-color: rgb(226,230,234);
    border-color: rgb(226,230,234);
}
.btn-transparent-light:hover {
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
}

.btn-dark:hover {
    color: white;
    background-color: rgb(35,39,43);
    border-color: rgb(35,39,43);
}
.btn-transparent-dark:hover {
    color: white;
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
}


/*--------------------Plate--------------------*/

.plate {
    font-size: 75%;
    padding: 4px 6px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
    cursor: default;
}

.plate-sky{
    color: white;
    background-color: rgb(0, 123, 225);
}

.plate-stone{
    color: white;
    background-color: rgb(108,117,125);
}
.plate-grass{
    color: white;
    background-color: rgb(40,167,69);
}
.plate-stop{
    color: white;
    background-color: rgb(220,53,69);
}
.plate-warning{
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
}
.plate-orange{
    color: rgb(33,37,41);
    background-color: rgb(255,139,7);
}
.plate-info{
    color: white;
    background-color: rgb(23,162,184);
}
.plate-light{
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
}
.plate-dark{
    color: white;
    background-color: rgb(52,58,64);
}
.plate-notification {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 160px;
}

/*--------------------Cards--------------------*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-body {
    min-height: 1px;
    padding: 20px;
}
.card-body p{
    margin-bottom: 20px;
}
.card-top-img {
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-title{
    margin-bottom: 12px;
}
.card-subtitle{
    margin-top: -6px;
    margin-bottom: 0px;
}
.card-link + .card-link {
    margin-left: 1.25rem;
}
.card-ul{
    margin-left: -10px;
}
.card-body a.w-100{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
